<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">GIS/Web Developer with over 20 years experience</h3>
                </div>
            </div>
            <div class="row">
              
                <div class="col-md-6">
                  <div class="project-information">
                    
                
                    <p>
                        <ul>
                     <li>worked in both public and private settings</li>
                     <li>experience working in and with the Federal Government (ERS/USDA, National Park Service)</li>
                     <li>experienced in ArcGIS Server installation and managment</li>
                     <li>A wide variety of GIS software, including ESRI products (ArcGIS)</li>
                     <li>Experience with ArcGIS Online</li>
                     <li>Strong JavaScript and Python language skills</li>
                     <li>Strong Web Developer background</li>
                     <li>Comfortable in both Windows and Linux environments</li>
                        </ul>
                    </p>
                  </div>
                </div>
                <div id="fAtlas" class="col-md-6">
                        <img class="projects-row__img" src="img/about/self.jpg" id="John" alt="John Buckler">
                      </div>
              </div>
        </div>
    </section>